:root {
  --rojo: #f26d85;
  --azul: #a9d9d9;
  --blanco: #f0f2eb;
  --marron: #d9cdb8;
  --naranja: #f28e85;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--blanco);
}

/*BARRA DE NAVEGACION SUPERIOR*/
.navegacion {
  background-color: var(--rojo);
  height: 50px;
  width: 100%;

  /*ordenacion de los elementos de la barra*/
  display: flex;
  justify-content: flex-end;

  /*Dejamos que la barra de navegacion sea 
  siempre accesible en la parte de arriba*/
  position: fixed;
  top: 0;
  z-index: 1; /*evitamos que las imagenes se superponga a la barra de nav.*/
}
.navegacion__carrito {
  width: 50px;
  cursor: pointer;
}
.contador-productos {
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  font-weight: bold;
  background-color: var(--blanco);
  border-radius: 7px;
  font-family: Arial;
  font-size: 0.6em;

  position: absolute;
  right: 7px;
  top: 3px;
}

/*SECCIONES DE LA WEB*/

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;

  /*determino 4 lineas*/
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 100px auto 100px;
}

.seccion {
  /*determinamos que zona del grid va a cubrir*/
<<<<<<< HEAD
  grid-column: 2/3;
  grid-row: 2;
=======
  grid-row: 2;
  grid-column: 2/3;

  /* tamaño seccion prductos
  SIN GRID
  height: 1000px;
  width: 80%;

  posicionamos
  position: relative;
  left: calc(50% - (80% / 2)); */
>>>>>>> be94ba031e3097a461f8167588f07cdde7709e91
}

.seccion__titulo {
  text-align: center;
  font-size: 2em;
  /*fuentes de google fonts*/
  font-family: "Big Shoulders Text", cursive;
}
.seccion__productos {
  /*hacemos que los productos se redistribuyan en funcion del ancho de pantalla*/
  display: flex;
  flex-flow: row wrap;
}
/*CARRITO*/
.seccion-carrito {
  background-color: var(--marron);
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  border-right: 6px solid black;
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;

  /*colocamos el carrito justo debajo de la barra de nav*/
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 1;

  width: 300px;

  /*efecto de despliege del menu*/
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.5s ease-in-out;
}

/*CUSTOM SCROLLBAR*/
.seccion-carrito::-webkit-scrollbar {
  width: 5px;
  background-color: var(--blanco);
}

.seccion-carrito::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid var(--blanco);
}

.seccion-carrito__titulo {
  font-family: "Big Shoulders Text", cursive;
  text-align: center;
}

.seccion-creditos {
  /*determinamos que zona del grid va a cubrir*/
  grid-row: 3;
  grid-column: 1/4;

  background-color: var(--marron);
  text-align: center;
  font-family: "Big Shoulders Text", cursive;
}

/*PRODUCTOS DE LA CESTA*/
.producto-carrito {
  height: 80px;

  /*que los productos sean filas*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.producto-carrito__imagen {
  width: auto;
  height: 50px;

  object-fit: cover;
}
.producto-carrito__descripcion {
  font-family: Arial;
}

.producto-carrito:nth-child(odd) {
  background-color: #e9e3da;
}
.producto-carrito:nth-child(even) {
  background-color: #eeeae3;
}

/*BLOQUE DE CADA PRODUCTO*/
.producto {
  background-color: var(--blanco);
  position: relative; /*para colocar una foto encima de la otra*/

  /*colocamos el contenido dentro de cada producto*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  /*cada elemento dentro del producto ocupe todo el espacio*/
  flex: 1 0 200px;
  height: 253px;

  /*transicion al pasar el raton por encima para cambiar la foto*/
  transition: background-image 0.5s ease;
}
.producto:hover > .boton {
  /*cuando pasamos el raton por encima aparecen el boton*/
  opacity: 1;
}

.producto__imagen {
  /*tamaño de imagen, cubriendo toda la caja*/
  height: 100%;
  width: 100%;
  /*manteniendo a su vez su relacion de aspecto*/
  object-fit: contain;
}
.producto__imagen--rotada1 {
  /*transicion de rotacion inicial*/
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
}
.producto:hover > .producto__imagen--rotada1 {
  transform: rotateY(180deg);
}
.producto__imagen--rotada2 {
  position: absolute;
  /*transicion de rotacion final*/
  transform: rotateY(90deg);
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
}
.producto:hover > .producto__imagen--rotada2 {
  transform: rotateY(360deg);
}

/*INFORMACION DEL PRODUCTO*/
.producto__info {
  display: flex;
  align-items: baseline; /*alineamos el tex*/
  justify-content: space-around;

  /*colocamos la informacion sobre la imagen,cambiando a la vez el tamaño de la celda del producto*/
  position: absolute;
  bottom: 0;

  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  font-family: "Big Shoulders Text", cursive;
}
.producto__info-nombre {
  font-size: 16px;
}
.producto__info-precio {
  font-weight: bold;
}

/*BOTON GENERICO*/
.boton {
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  box-shadow: 2px 2px black;
  font-weight: bold;
  text-transform: capitalize;

  width: 100%;
  height: 30px;
  /*colocamos el boton sobre la informacion del producto*/
  position: absolute;
  bottom: 28%;
  /*transicion de aparicion del boton*/
  opacity: 0;
  transition: opacity 0.5s ease;
}
.boton:hover {
  background-color: var(--naranja);
}
