:root {
  --rojo: #f26d85;
  --azul: #a9d9d9;
  --blanco: #f0f2eb;
  --marron: #d9cdb8;
  --naranja: #f28e85;
}

/*podemos acceder al shadow desde fuera*/
#host::shadow > .boton{
  background-color: blue;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--blanco);
}

/*BARRA DE NAVEGACION SUPERIOR*/
.navegacion {
  background-color: var(--rojo);
  height: 50px;

  /*ordenacion de los elementos de la barra*/
  display: flex;
  justify-content: flex-end;

  /*Dejamos que la barra de navegacion sea 
  siempre accesible en la parte de arriba*/
  position: sticky;
  top: 0;
  z-index: 1; /*evitamos que las imagenes se superponga a la barra de nav.*/
}
.navegacion__carrito {
  width: 50px;
  cursor: pointer;
}

/*SECCIONES DE LA WEB*/

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;

  /*determino 4 lineas*/
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 100px auto 100px;
}

.seccion {
  /*determinamos que zona del grid va a cubrir*/
  grid-column: 2/3;
  grid-row: 2/3;

  /* tamaño seccion prductos
  SIN GRID
  height: 1000px;
  width: 80%;

  posicionamos
  position: relative;
  left: calc(50% - (80% / 2)); */
}

.seccion__titulo {
  text-align: center;
  font-size: 2em;
  /*fuentes de google fonts*/
  font-family: "Big Shoulders Text", cursive;
}
.seccion__productos {
  /*hacemos que los productos se redistribuyan en funcion del ancho de pantalla*/
  display: flex;
  flex-flow: row wrap;
}
/*CARRITO*/
.seccion-carrito {
  background-color: var(--marron);
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  border-right: 6px solid black;
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;

  /*colocamos el carrito justo debajo de la barra de nav*/
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 1;

  width: 300px;

  /*efecto de despliege del menu*/
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.5s ease-in-out;
}
/*CUSTOM SCROLLBAR*/
.seccion-carrito::-webkit-scrollbar {
  width: 5px;
  background-color: var(--blanco);
}

.seccion-carrito::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid var(--blanco);
}

.seccion-carrito__titulo {
  font-family: "Big Shoulders Text", cursive;
  text-align: center;
}
.seccion-creditos {
  /*determinamos que zona del grid va a cubrir*/
  grid-column: 1/4;
  grid-row: 3/4;

  background-color: var(--marron);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*PRODUCTOS DE LA CESTA*/
.producto-carrito {
  /*que los productos sean filas*/
  display: flex;
}
.producto-carrito__imagen {
  width: 80px;
  height: auto;

  object-fit: cover;
}
.producto-carrito__descripcion {
  align-self: center;
}


