:root {
  --rojo: #f26d85;
  --azul: #a9d9d9;
  --blanco: #f0f2eb;
  --marron: #d9cdb8;
  --naranja: #f28e85;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--blanco);
}

/*BARRA DE NAVEGACION SUPERIOR*/
.navegacion {
  background-color: var(--rojo);
  height: 50px;

  /*ordenacion de los elementos de la barra*/
  display: flex;
  align-items: flex-end;

  /*Dejamos que la barra de navegacion sea 
  siempre accesible en la parte de arriba*/
  position: sticky;
  top: 0;
  z-index: 1; /*evitamos que las imagenes se superponga a la barra de nav.*/
}
.navegacion__carrito {
  width: 50px;
  cursor: pointer;
}

/*SECCIONES DE LA WEB*/

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;

  /*determino 4 lineas*/
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 100px auto 100px;
}

.seccion {
  /*determinamos que zona del grid va a cubrir*/
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  /* tamaño seccion prductos
  SIN GRID
  height: 1000px;
  width: 80%;

  posicionamos
  position: relative;
  left: calc(50% - (80% / 2)); */
}

.seccion__titulo {
  text-align: center;
  font-size: 2em;
  /*fuentes de google fonts*/
  font-family: "Big Shoulders Text", cursive;
}
.seccion__productos {
  /*hacemos que los productos se redistribuyan en funcion del ancho de pantalla*/
  display: flex;
  flex-flow: row wrap;
}
/*CARRITO*/
.seccion-carrito {
  background-color: var(--marron);
  /*colocamos el carrito justo debajo de la barra de nav*/
  position: absolute;
  top: 50px;
  right: 0;

  width: 300px;

  /*efecto de despliege del menu*/
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.5s ease-in-out;
}

.seccion-creditos {
  /*determinamos que zona del grid va a cubrir*/
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  background-color: var(--marron);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*PRODUCTOS DE LA CESTA*/
.producto-carrito {
  /*que los productos sean filas*/
  display: flex;
}
.producto-carrito__imagen {
  width: 80px;
  height: auto;

  object-fit: cover;
}
.producto-carrito__descripcion {
  align-self: center;
}

/*BLOQUE DE CADA PRODUCTO*/
.producto {
  background-color: var(--blanco);
  position: relative; /*para colocar una foto encima de la otra*/

  /*colocamos el contenido dentro de cada producto*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  /*cada elemento dentro del producto ocupe todo el espacio*/
  flex: 1 0 200px;
  height: 253px;

  /*transicion al pasar el raton por encima para cambiar la foto*/
  transition: background-image 0.5s ease;
}
.producto:hover > .boton {
  /*cuando pasamos el raton por encima aparecen el boton*/
  opacity: 1;
}
/*transicion de rotacion entre las dos imagenes.
1- una foto la giramos desde el 0º al 90º
2- giramos la otra de 90º al 180º
3- backface-visibility para que no salga la parte de atras de la carta */
.producto:hover > .producto__imagen--rotada1 {
  transform: rotateY(180deg);
}
.producto:hover > .producto__imagen--rotada2 {
  transform: rotateY(360deg);
}
.producto__imagen {
  /*tamaño de imagen, cubriendo toda la caja*/
  height: 100%;
  width: 100%;
  /*manteniendo a su vez su relacion de aspecto*/
  object-fit: contain;
}
.producto__imagen--rotada1 {
  /*transicion de rotacion inicial*/
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
}
.producto__imagen--rotada2 {
  position: absolute;
  /*transicion de rotacion final*/
  transform: rotateY(90deg);
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
}

/*INFORMACION DEL PRODUCTO*/
.producto__info {
  display: flex;
  align-items: baseline; /*alineamos el tex*/
  justify-content: space-around;

  /*colocamos la informacion sobre la imagen,cambiando a la vez el tamaño de la celda del producto*/
  position: absolute;
  bottom: 0;

  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  font-family: "Big Shoulders Text", cursive;
}
.producto__info-nombre {
  font-size: 16px;
}
.producto__info-precio {
  font-weight: bold;
}

/*BOTON GENERICO*/
.boton {
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  box-shadow: 2px 2px black;
  font-weight: bold;
  text-transform: capitalize;

  width: 100%;
  height: 30px;
  /*colocamos el boton sobre la informacion del producto*/
  position: absolute;
  bottom: 28%;
  /*transicion de aparicion del boton*/
  opacity: 0;
  transition: opacity 0.5s ease;
}
.boton:hover {
  background-color: var(--naranja);
}
