:root {
  /*definimos un ancho de boton fijo*/
  --alto-boton: 60px;
  --ancho-boton: 200px;
}

body {
  margin: 0;
  padding: 0;
}

/*contenido del fondo*/
.fondo {
  background-image: url("../img/tokyo.jpg");
  background-size: cover;
  height: 100vh;
}

.contenido {
  position: relative;
  left: calc(0px - var(--ancho-boton));
  /*resitribuimos automaticamente el tamaño para ser RESPONSIVE*/
  width: var(--ancho-boton);

  /*transicion de aparicion de todo el menu*/
  transition: left 0.5s ease;
}

.contenido__boton {
  height: var(--alto-boton);
  width: var(--ancho-boton);

  /*espacio entre botones de forma proporcional*/
  /*acho de la ventana entre nºbotones - ancho de botones*/
  margin-top: calc(100vh / 5 - var(--alto-boton));

  /*estilo del boton*/
  border: none;
  background-color: rgba(20, 87, 116, 0.8);
  color: white;
  border-radius: 0 7px 7px 0;

  /*que aparezca una manita al pasar el raton*/
  cursor: pointer;

  /*fuente*/
  font-family: "Major Mono Display", monospace;
  font-size: 2em;
  text-align: left;
}

.fondo:hover .contenido {
  left: 0;
}

/*ESTILO DEL VELO */
.menu {
  /*colocamos el menu sobre el fondo*/
  position: absolute;
  top: 0;

  /*el menu ocupa toda la pantalla como si fuera otra capa*/
  height: 100vh;
  width: 100vw;

  /*transicion para la transparencia*/
  transition: background-color 0.5s;
}

.menu__boton {
  /*que aparezca una manita al pasar el raton*/
  cursor: pointer;

  /*posicion del boton en esta nueva capa*/
  position: absolute;
  right: 20px;
  top: 20px;

  /*tamaño del boton*/
  width: 70px;
  height: auto;
}

.menu__boton--activar {
  animation-name: rebote;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.menu__contenido {
  /*por defecto no aparece para dejar que el boton lo haga*/
  display: none;
  transition: display 1s;

  /*colocamos el contenido del menu en el centro*/
  position: absolute;
  top: calc(50vh - 50px * 2 + 15px); /*mitad pantalla - los 2 botones y margen*/
  right: calc(50vw - 250px / 2); /*mitad de pantalla - mitad boton*/

  /*ancho para que se ajusten los botones*/
  width: 250px;
}

.boton {
  /*que aparezca una manita al pasar el raton*/
  cursor: pointer;

  /*ocupa todo el ancho por lo que se apilan*/
  height: 50px;
  width: 100%;

  margin-bottom: 15px;

  /*estilo boton*/
  background-color: white;
  border: none;

  /*fuente*/
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}

.boton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid white;
}

/*QUE CAMBIOS DE ESTILO OCURREN AL CLICKAR EL BOTON*/
.menu--activo {
  background-color: rgba(0, 0, 0, 0.6);
}
.menu--activo .menu__contenido {
  display: initial;
}

/*animacion del menu*/
@keyframes rebote {
  0% {
    width: 70px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 70px;
  }
}
