:root {
  --hecho: #dff2bf;
  --hecho-borde: #4f8a10;
  --sinhacer: #ffd2d2;
  --sinhacer-borde: #d8000c;
  --bordes: #bf6600;
  --fondos: white;
  /* --fondos: #e4ebf2; */
  --amarillo: #f2a20c;
}

body {
  margin: 0;
  padding: 0;
  background-color: #145774;
}

.boton-ajax {
  /*estilo del contenedor*/
  background-color: var(--amarillo);
  border: none;
  box-shadow: 3px 4px black;

  /*centrado en la ventana*/
  position: absolute;
  bottom: calc(50% - (80px / 2));
  right: calc(50% - (350px / 2));

  /*tamaño del boton*/
  width: 350px;
  height: 80px;

  /*fuente y sombreado*/
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}
.boton-ajax:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--sinhacer-borde);
}

.titulo {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px black;

  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
}
/*figura tras el titulo*/
.titulo:before {
  content: "";
  /*creamos el triangulo*/
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 80px solid var(--amarillo);

  /*posicionamos la figura*/
  position: absolute;
  z-index: -1;
  top: 20px;

  /*estilos de la figura*/
  background-image: linear-gradient(black, white);
}

.titulo::first-letter {
  font-size: 65px;
}

.lista {
  border: 4px solid var(--bordes);
  border-radius: 4px;

  /*colocaremos las tareas como si fuese una tabla una a continuacion de otra*/
  display: table;

  width: 80%;
  margin: 0 10% 0 10%;
}

.tarea {
  background-color: var(--fondos);
  border-bottom: 1px solid black;

  /*fuente de google fonts*/
  font-family: "Mukta Malar", sans-serif;
  font-weight: bold;
  font-size: 1.1em;

  /*las tareas estaran ocupando toda una fila*/
  display: table-row;
  height: 50px;
}

.tarea__nombre {
  /*al ser un p genera margen por defecto*/
  margin: 0;
  vertical-align: middle;

  /*separamos del margen izquierdo*/
  padding-left: 20px;

  /*queremos que se agrupen todos los elementos en filas*/
  display: table-cell;
}

/*el nombre de cada tarea empezara siempre en mayus*/
.tarea__nombre::first-letter {
  text-transform: capitalize;
}

.tarea__check {
  /*queremos que se agrupen todos los elementos en filas*/
  display: table-cell;
  vertical-align: middle;

  /*para evitar que la tabla colapse por no tener contenido*/
  width: 30px;

  /*propiedades de fondo*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  /*icono de no hecha*/
  background-image: url("../img/nohecha.png");
}

.tarea__eliminar {
  /*alineamos al centro el boton de eliminar*/
  position: relative;
  left: calc(50% - 30px / 2);
  top: 13px;

  /*modificamos el tamaño de la cruz para eliminar*/
  width: 20px;
  height: auto;

  /*al pasar el cursor por encima que nos salga manita*/
  cursor: pointer;
}

/*QUE OCURRE CUANDO LE DAMOS AL BOTON DE LABEL*/
input[type="checkbox"] {
  /*ocultamos el input para solo trabajar con el label*/
  display: none;
  /*usamos display porque asi no ocupa espacio*/
}

/* cambiamos el label en funcion de si esta activada la checkbox*/
input:checked + .tarea__check {
  background-image: url("../img/hecha.png");
}

.nueva-tarea {
  /*tamaño de la caja*/
  --ancho: 400px;

  /*alineamos al centro*/
  position: relative;
  left: calc(50% - (var(--ancho) / 2));

  width: var(--ancho);

  /*estilo*/
  border: 4px solid var(--bordes);
  border-radius: 4px;
  background-color: var(--fondos);

  margin: 5px;
  padding: 10px;
}

.nueva-tarea__texto {
  border: 3px solid var(--bordes);
  border-radius: 30px;

  /*que ocupe todo para que se apilen*/
  width: 80%;
  height: 20px;

  /*espacio entre objetos*/
  margin-bottom: 15px;
  margin-left: 35px;

  /*estilo del placeholder y texto*/
  text-align: center;
  font-family: "Mukta Malar", sans-serif;
}

/*que ocurre al pulsar sobre el campo de texto*/
.nueva-tarea__texto:focus + .boton {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--sinhacer-borde);
}

.boton {
  /*que ocupe todo para que se apilen*/
  border: none;
  width: calc(80% + 3px);
  margin-left: 35px;

  /*tamaño del boton*/
  height: 40px;

  /*estilo del contenedor*/
  background-color: var(--amarillo);
  border-radius: 30px;
  box-shadow: 2px 2px black;

  /*estilo texto*/
  font-family: "Mukta Malar", sans-serif;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}
.boton:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--sinhacer-borde);
}
.boton:active {
  transform: translateY(2px);
  box-shadow: none;
  outline: ;
}
