:root {
  --error: #ffd2d2;
  --error-intenso: #d8000c;
  --marron: #bf6600;
  --fondos: white;
  --amarillo: #f2a20c;
}

body {
  margin: 0;
  padding: 0;
  background-color: #145774;
}

/*BOTON QUE HACE PETICION AJAX CON ANIMACION*/
.boton-ajax {
  /*estilo del contenedor*/
  background-color: var(--amarillo);
  border: none;
  box-shadow: 3px 4px black;

  /*centrado en la ventana*/
  position: absolute;
  bottom: calc(50% - (80px / 2));
  right: calc(50% - (350px / 2));

  /*tamaño del boton*/
  width: 350px;
  height: 80px;

  /*fuente y sombreado*/
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px white;

  /*animacion que se le aplica solo activada en hover*/
  animation-name: animacion-boton;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /*queremos un movimiento fluido*/

  animation-play-state: paused;
}
.boton-ajax:hover {
  /*que aparezca la mano en el cursor*/
  cursor: pointer;
  /*activamos la animacion*/
  animation-play-state: running;
}

.titulo {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px black;

  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
}
.titulo::first-letter {
  font-size: 70px;
}
/*figura tras el titulo*/
.titulo::before {
  content: "";
  /*creamos el triangulo*/
  border-top: 50px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 475px solid var(--amarillo);

  /*posicionamos la figura*/
  position: absolute;
  z-index: -1;
  transform: rotate(-3.5deg);
  top: 30px;

  /*transicion de la figura al hover*/
  transition: border-right 1s linear;
}
.titulo:hover::before {
  /*cambiamos el color*/
  border-right: 475px solid var(--marron);
}
.lista {
  border: 4px solid var(--marron);
  border-radius: 4px;

  /*colocaremos las tareas como si fuese una tabla una a continuacion de otra*/
  display: table;

  width: 80%;
  margin: 0 10% 0 10%;
}

.tarea {
  background-color: var(--fondos);
  border-bottom: 1px solid black;

  /*fuente de google fonts*/
  font-family: "Mukta Malar", sans-serif;
  font-weight: bold;
  font-size: 1.1em;

  /*las tareas estaran ocupando toda una fila*/
  display: table-row;
  height: 50px;
}
.tarea:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.9);
}

/*al pasar por cada tarea bajamos el tono*/
.tarea:hover {
  background-color: rgb(243, 221, 181);
}

.tarea__nombre {
  /*al ser un p genera margen por defecto*/
  margin: 0;
  vertical-align: middle;

  /*separamos del margen izquierdo*/
  padding-left: 20px;

  /*queremos que se agrupen todos los elementos en filas*/
  display: table-cell;
}

/*el nombre de cada tarea empezara siempre en mayus*/
.tarea__nombre::first-letter {
  text-transform: capitalize;
}

.tarea__check {
  /*queremos que se agrupen todos los elementos en filas*/
  display: table-cell;
  vertical-align: middle;

  /*para evitar que la tabla colapse por no tener contenido*/
  width: 30px;

  /*propiedades de fondo*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  /*icono de no hecha*/
  background-image: url("../img/nohecha.png");
}

.tarea__eliminar {
  /*alineamos al centro el boton de eliminar*/
  position: relative;
  left: calc(50% - 30px / 2);
  top: 13px;

  /*modificamos el tamaño de la cruz para eliminar*/
  width: 20px;
  height: auto;

  /*al pasar el cursor por encima que nos salga manita*/
  cursor: pointer;
}

/*QUE OCURRE CUANDO LE DAMOS AL BOTON DE LABEL*/
input[type="checkbox"] {
  /*ocultamos el input para solo trabajar con el label*/
  display: none;
  /*usamos display porque asi no ocupa espacio*/
}

/* cambiamos el label en funcion de si esta activada la checkbox*/
input:checked + .tarea__check {
  background-image: url("../img/hecha.png");
}

.nueva-tarea {
  /*tamaño de la caja*/
  --ancho: 400px;

  /*alineamos al centro*/
  position: relative;
  left: calc(50% - (var(--ancho) / 2));

  width: var(--ancho);

  /*estilo*/
  border: 4px solid var(--marron);
  border-radius: 4px;
  background-color: var(--fondos);

  /*separacion entre campos*/
  margin: 5px;
  padding: 25px 10px 10px 10px;
}

.nueva-tarea__texto {
  /*estilos contenedor*/
  border: 3px solid var(--marron);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.15);

  /*que ocupe todo para que se apilen*/
  width: 80%;
  height: 20px;

  /*espacio entre objetos*/
  margin-bottom: 15px;
  margin-left: 35px;

  /*estilo del placeholder y texto*/
  text-align: center;
  font-family: "Mukta Malar", sans-serif;
  z-index: -1;
}

/*que ocurre al pulsar sobre el campo de texto*/
.nueva-tarea__texto:focus,
.nueva-tarea__texto:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nueva-tarea__texto:focus + .boton {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--error-intenso);
}

.boton {
  /*que ocupe todo para que se apilen*/
  border: none;
  width: calc(80% + 3px);
  margin-left: 35px;

  /*tamaño del boton*/
  height: 40px;

  /*estilo del contenedor*/
  background-color: var(--amarillo);
  border-radius: 30px;
  box-shadow: 2px 2px var(--marron);

  /*estilo texto*/
  font-family: "Mukta Malar", sans-serif;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}
.boton:hover {
  /*que aparezca la mano en el cursor*/
  cursor: pointer;
  /*cambiamos un poco el tono del color ya existente*/
  background-color: rgba(242, 162, 12, 0.8);
}
.boton:active {
  /*al pulsar el boton se hunde */
  transform: translateY(2px);
  box-shadow: none;
}

/*ERROR SI METEMOS UNA TAREA QUE YA EXISTE*/
.error {
  color: var(--error-intenso);
  background-color: var(--error);

  text-align: center;
  font-family: "Mukta Malar", sans-serif;
  font-weight: bolder;

  /*centro el error*/
  margin-top: 25px;
}

/*BOTON DE VOLVER*/
.volver {
  /*colocamos en la esquina inf-izq*/
  position: absolute;
  left: 30px;
  bottom: 30px;
  /*tamaño imagen*/
  width: 130px;
  height: auto;
  /*animacion para volver de pagina*/
  transition: transform 0.5s;
}
.volver:hover {
  /*se gira al activarlo con js*/
  transform: rotate(-45deg);
  /*cursor con manita*/
  cursor: pointer;
}

/*ANIMACION BOTON PETICION AJAX*/
@keyframes animacion-boton {
  0% {
    background-color: var(--amarillo);
    transform: scaleY(1);
    transform: scaleX(1);
  }
  50% {
    background-color: var(--marron);
    transform: scaleY(1.3);
    transform: scaleX(1.05);
  }
  100% {
    background-color: var(--amarillo);
    transform: scaleY(1);
    transform: scaleX(1);
  }
}
