/* Color Theme Swatches in Hex */
.color-theme-btc-1-hex {
  color: #5f65d9;
}
.color-theme-btc-2-hex {
  color: #668cd9;
}
.color-theme-btc-3-hex {
  color: #91d7f2;
}
.color-theme-btc-4-hex {
  color: #f25c05;
}
.color-theme-btc-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.color-theme-btc-1-rgba {
  color: rgba(95, 101, 217, 1);
}
.color-theme-btc-2-rgba {
  color: rgba(102, 140, 217, 1);
}
.color-theme-btc-3-rgba {
  color: rgba(145, 215, 242, 1);
}
.color-theme-btc-4-rgba {
  color: rgba(242, 92, 5, 1);
}
.color-theme-btc-5-rgba {
  color: rgba(13, 13, 13, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme-btc-1-hsla {
  color: hsla(237, 61, 61, 1);
}
.color-theme-btc-2-hsla {
  color: hsla(220, 60, 62, 1);
}
.color-theme-btc-3-hsla {
  color: hsla(196, 78, 75, 1);
}
.color-theme-btc-4-hsla {
  color: hsla(22, 95, 48, 1);
}
.color-theme-btc-5-hsla {
  color: hsla(0, 0, 5, 1);
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 90px auto 90px;
  grid-template-rows: 80px 1000px 1000px;
}

.header {
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: #5f65d9;

  display: flex;
  justify-content: space-around;

  /*posicionamos arriba del buscador*/
  position: sticky;
  z-index: 1;
  top: 0;
}

.titulo {
  font-family: "Zilla Slab Highlight", cursive;
  color: #91d7f2;
  /*alinemaos el texto a la mitad del contenedor*/
  align-self: center;
}
select {
  height: 40px;
  align-self: center;

  /*cambiamos icono del select*/
  font-size: 16px;
  font-family: "Verdana";
  font-weight: 400;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 400px;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em;
}
.posts {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
}
.comentarios {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
}

.post,
.comentario {
  width: 200px;
  flex: 200px 1 1;
  background-color: #668cd9;
  border: 3px solid #0d0d0d;
  border-radius: 5px;
}

.post__titulo {
  line-height: 20px;
  font-family: "Mandali", sans-serif;
  font-size: 1.5em;
}

.post__body {
  font-family: Verdana;
}

.loading {
  display: none;
  /*fijo en el centro*/
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
.loading:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 18px solid red;
  border-color: red transparent red transparent;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
