/*Reinicio de los estilo*/
body,
html,
p,
h1,
button {
  margin: 0px;
  padding: 0px;
  border: none;
}

/*ESTILOS*/
header {
  background-color: #457abf;
  height: 100px;
}

.header__titulo {
  font-size: xx-large;
  font-family: "Satisfy", cursive;

  text-transform: uppercase;
  color: #bf9545;
  text-shadow: 3px 1px #735112;
  letter-spacing: 3px;

  /*colocamos en el centro el texto*/
  text-align: center;
  position: relative;
  top: 25px;
}

/*SUBTITULO DE BOTONES*/
.seccion-botones {
  display: flex;
}

.seccion-botones__boton {
  font-family: Arial;
  font-size: xx-large;

  /*los botones se reparten todo el ancho de la pagina*/
  flex-grow: 1;

  /*transicion para el hover*/
  transition: flex-grow 0.5s;
  cursor: pointer;
}
.seccion-botones__boton:hover {
  flex-grow: 2;
}
.seccion-botones__boton:nth-child(1) {
  background-color: #1ca68a;
}
.seccion-botones__boton:nth-child(2) {
  background-color: #ffd769;
}
.seccion-botones__boton:nth-child(3) {
  background-color: #ff3e4c;
}

/*ZONA DE VIAJES*/

.seccion-viajes {
  display: flex;
  flex-flow: wrap row;

  background-color: #24324f;
}

.viaje {
  /*distribuimos el tamaño de la ventan entre todos los viajes*/
  flex: 1 0 300px;
  margin: 10px;

  /*se distribuyen el espacion de forma que el que tenga el hover duplicara su tamaño(creando asi una web muy dinamica)*/
  transition: flex-grow 1s;
  cursor: pointer;
}

.viaje:hover > .viaje__foto {
  filter: blur(4px);
}
.viaje:hover {
  flex-grow: 3;
}

.viaje__foto {
  /*delimitamos la zona que ocupara la foto*/
  width: 100%;
  height: 100%;

  /*indicamos como se va a adpatar a esa zona*/
  object-fit: cover;
}

.viaje__titulo {
  text-align: center;
  text-shadow: 1px 1px 3px white;

  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: x-large;

  background-color: rgba(255, 255, 255, 0.4);

  /*superponemos el titulo a la foto*/
  position: relative;
  bottom: 50%;
}

@media (max-width: 600px) {
  .seccion-botones {
    flex-direction: column;
  }
  .seccion-botones__boton {
    height: 50px;
  }
  .seccion-botones__boton:hover {
    flex-grow: 2;
  }
}
