/*Reinicio de los estilo*/
body,
html,
p,
h1 {
  margin: 0px;
  padding: 0px;
}

/*ESTILOS*/
header {
  background-color: peachpuff;
  height: 100px;
}

.header__titulo {
  font-size: xx-large;
  font-family: "Satisfy", cursive;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

  position: relative;
  top: 25px;
}

/*SUBTITULO DE BOTONES*/
.seccion-botones {
  display: flex;
}

.seccion-botones__boton {
  /*reiniciamos estilos*/
  border: none;

  flex: 1 0 150px;
  height: 45px;

  font-family: Arial;
  font-size: xx-large;

  /*transicion para el hover*/
  transition: flex-grow 0.5s;
}
.seccion-botones__boton:nth-child(1) {
  background-color: coral;
}
.seccion-botones__boton:nth-child(2) {
  background-color: cornflowerblue;
}
.seccion-botones__boton:nth-child(3) {
  background-color: gold;
}

.seccion-botones__boton:hover {
  flex-grow: 2;
}

/*ZONA DE VIAJES*/

.seccion-viajes {
  display: flex;
  flex-flow: wrap row;

  width: 80%;

  /*alineamos al centro*/
  position: relative;
  left: 10%;
}

.viaje {
  flex: 1 0 300px;
  border: solid black 3px;
}

.viaje__foto {
  /*delimitamos la zona que ocupara la foto*/
  width: 100%;
  height: 80%;

  /*indicamos como se va a adpatar a esa zona*/
  object-fit: cover;
}

.viaje__titulo {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
