html {
  margin: 0;
  /*asi nos permite poner el gradiente al todo el body*/
  min-height: 100%;
}

body {
  /*reinicio de estilos*/
  margin: 0;
  overflow-x: hidden;
  /*delimitamos el grid de toda la pagina*/
  display: grid;
  grid-template-rows: 200px 500px 1500px 100px;
  grid-template-columns: 100px 1fr 1fr 100px;
  row-gap: 35px;
  /*separamos los dos apartados personales*/
  column-gap: 30px;
  /*fondo*/
  background-image: linear-gradient(to bottom right, #e0e5ec, #ffffff);
  background-repeat: no-repeat;
  background-attachment: local;

  /*animacion de carga de la pagina*/
  clip-path: circle(0%);
  animation: load 2s forwards;
}

@keyframes load {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}

header {
  margin-top: 20px;
  grid-row: 1/2;
  grid-column: 2/4;
  /*estilos texto*/
  font-family: "Monoton", cursive;
  text-align: center;
  line-height: 1.4em;
  font-size: 8em;
  /*fondo*/
  color: #e12d48;
  /*neumorphismo*/
  box-shadow: -9px -9px 16px#ffffff, 9px 9px 16px #a3b1c6;
  border-radius: 15px;
  background-color: #e0e5ec;
}
.portfolio {
  grid-row: 2/3;
  grid-column: 2/3;
}
.sobremi {
  grid-row: 2/3;
  grid-column: 3/4;
}

main {
  grid-row: 3/4;
  grid-column: 1/5;
  /*fondo. Dejamos que se vea el color de body*/
  background-color: transparent;
}

footer {
  grid-row: 4/5;
  grid-column: 2/4;
  /*estilos*/
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 2.5em;
  font-size: xx-large;
  /*fondo*/
  color: #e25a00;
}

/*ZONA SOBREMI estilos*/
.portfolio {
  /*agrupamos las cualidades*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  /*neumorphismo*/
  box-shadow: -9px -9px 16px#ffffff, 9px 9px 16px #a3b1c6;
  border-radius: 15px;
  background-color: #e0e5ec;
}

.portfolio__cualidad {
  flex-basis: 100px;
  /*alineamos las imagenes al centro*/
  display: flex;
  justify-content: center;
}
.portfolio__cualidad:hover {
  position: relative;
  transition: transform 0.5s;
  transform: rotate(6deg);
}
.portfolio__cualidad > img {
  /*se auto ajusta la imagen al contenedor*/
  height: 100px;
}

.sobremi {
  /*alineamos los elementos al centro*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*textos*/
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /*neumorphismo*/
  box-shadow: -9px -9px 16px#ffffff, 9px 9px 16px #a3b1c6;
  border-radius: 15px;
  background-color: #e0e5ec;
}
.sombra {
  /*sombra sobre la foto*/
  filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.603));
}
.sobremi > .sombra > img {
  object-fit: contain;
  /*transicion de un circulo grande a uno piqueño al cargar la pagina*/
  clip-path: circle(30px at 50% 50%);
  animation: zoom 2s forwards;
}
@keyframes zoom {
  from {
    clip-path: circle(30px at 50% 50%);
  }
  to {
    clip-path: circle(160px);
  }
}
.sobremi > h1 {
  margin: 0;
  text-align: center;
}
.sobremi > p {
  width: 80%;
  text-align: justify;
}
/*ZONA DE FOTOS*/
/*a su vez metemos un grid dentro del grid para las fotos*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(
    4,
    calc(25% - 10px)
  ); /*creamos 4 filas proporcionales teninedo en cuenta el espacio que va a haber entre ellas*/

  /*espacio entre filas*/
  row-gap: 10px;

  /*que los margenes de las imagenes no salgan*/
  overflow-x: hidden;
}

article {
  /*tamaño de las fotos*/
  grid-column: 1/3;
}

/*COLOCAMOS CADA FOTO EN SU POSICION*/
article:nth-child(1) {
  grid-row: 1/2;
}
article:nth-child(2) {
  grid-row: 2/3;
}
article:nth-child(3) {
  grid-row: 3/4;
}
article:nth-child(4) {
  grid-row: 4/5;
}

/*CREAMOS LAS ANIMACIONES PARA CADA TIPO DE FOTO, DIFERENCIANDO DERECHA E IZQUIERDA*/
.foto-izq {
  /*animacion al quitar el raton(se para al final del recorrido)*/
  animation: grid-izquierda-in forwards 1s;
  /*delimitamos el tamaño a toda la pagina pero ocultamos la mitad a la izquierda de la pagina*/
  transform: translateX(-50%);
}
.foto-izq:hover {
  animation: grid-izquierda-out forwards 1s;
}

.foto-dch {
  /*animacion al quitar el raton (se para al final del recorrido)*/
  animation: grid-derecha-in forwards 1s;
  /*delimitamos el tamaño a toda la pagina pero ocultamos la mitad a la derecha de la pagina*/
  transform: translateX(50%);
}
.foto-dch:hover {
  animation: grid-derecha-out forwards 1s;
}

/*AJUSTAMOS TODAS LAS FOTOS AL TAMAÑO*/
article > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
}

/*ANIMACIONES*/
@keyframes grid-izquierda-out {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes grid-izquierda-in {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes grid-derecha-out {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes grid-derecha-in {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
